/* Estilo para o header */
header {
    background-color: red; /* Cor de fundo do header */
    color: #fff; /* Cor do texto */
    padding: 20px;
}

/* Estilo para a lista de navegação */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff; /* Cor dos links */
    text-decoration: none; /* Removendo sublinhado dos links */
}

/* Estilo para as seções */
section {
    padding: 20px;
    margin-bottom: 20px;
}

section h2 {
    margin-bottom: 10px;
}

/* Estilo para as imagens */
.imagem-container {
    display: flex;
    flex-wrap: wrap;
}

.imagem-container img {
    width: calc(33.33% - 10px); /* Cada imagem ocupa 1/3 da largura da seção */
    height: auto; /* Altura automática para manter a proporção */
    margin-right: 10px; /* Espaçamento entre as imagens */
}

/* Estilo para o footer */
footer {
    background-color: #333; /* Cor de fundo do footer */
    color: #fff; /* Cor do texto */
    text-align: center; /* Alinhamento do texto no centro */
    padding: 20px;
}
/* Estilos para o cabeçalho */
header {
  text-align: center; /* Centralizando o conteúdo */
}

/* Estilos para a barra de navegação */
nav {
  text-align: center; /* Centralizando o conteúdo */
}

nav ul {
  list-style-type: none; /* Removendo marcadores de lista */
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white; /* Cor dos links */
  text-decoration: none; /* Removendo sublinhado dos links */
}
